@{
    ViewBag.Title = "Home page";
}

<h5 class="display-6 text-bg-primary align-content-md-center text-lg-center text-lg mb-5"> Application Portal of the Gosstandard authority</h5>

<p class="lead text-dark mark">Welcome to our Application Portal!</p>

<div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-6 border-2 border border-secondary">
        <ul>
            <li class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-2">
                        <p>
                            The Application Portal is designed for submitting wireless/ terminal equipment for type approval (certification)
                            in the Republic of Belarus in a simple form.

                            It allows authorised representatives:

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            To apply for homologation service of wireless/telecommunications equipment which is in the scope of
                            Technical regulation “Means of telecommunication" of the Republic of Belarus (hereiafter referred to as "TR 2018/024/BY")
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            To apply electronically by filling in the form for submitting type approval application
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                            To save your time without 
                        </p>
                    </div>
                </div>
        </ul>

        <p>
            Application Portal for submitting wireless/ terminal equipment for type approval (certification)
            in the Republic of Belarus.

            The Portal is founded by the to allow authorised applicants to apply for type approval for products
            falling under Technical regulation “Means of telecommunication. Security” of the Republic of Belarus (hereiafter referred to as "TR 2018/024/BY"")
        </p>
    </div>
    <div class="col-1"></div>
    <div class="col-3 border-2 border border-secondary">
        <p>
            Application Portal for submitting wireless/ terminal equipment for type approval (certification)
            in the Republic of Belarus.

            The Portal is founded by the to allow authorised applicants to apply for type approval for products
            falling under Technical regulation “Means of telecommunication. Security” of the Republic of Belarus (hereiafter referred to as "TR 2018/024/BY"")
        </p>
    </div>
    <div class="col-1"></div>
</div>



@*@Html.ActionLink("Roles", "GetRoles", "Role")

@Html.ActionLink("CreateRole", "CreateAdminRole", "Role")

@Html.ActionLink("Add Admin Role To User", "AddAdminRoleToUser", "User")*@